/* 
***********************
TOP ICONS
***********************
*/
.container.icons {
    color: grey;
    font-size: 1.4rem;
    padding: 20px 0;
}


/* 
***********************
Search Main Container
***********************
*/
.search-main {
    padding: 50px 0;
    background-color: var(--secondry-bg-color);
}

.search-main .heading1 {
    border-bottom: 1px solid #cecece;
}

.search-main .heading1 .container {
    font-size: 2rem;
    font-weight: 600;
    opacity: .8;
    padding: 8px 0;
}

.search-main .heading1 .container span {
    font-size: 2rem;
    font-weight: 600;
    opacity: .8;
    padding: 8px 0;
}

.search-main .search-container {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 30px;
}

@media screen and (max-width:1000px) {
    .search-main .search-container {
        display: block;
    }
}

/* 
***************************
LEFT FILTER SECTION
***************************
*/
.search-main .left-filter-section {
    border-right: 1px solid #cecece;
    height: 100%;
    width: 90%;
    padding: 20px;
}

.search-main .left-filter-section .filter-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search-main .left-filter-section .filter-heading span {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-main .left-filter-section .filter-heading span:last-child {
    background-color: #0427A5;
    color: #FFF;
    font-size: 1rem !important;
    padding: 8px 10px;
    border-radius: 5px;
}

.search-main .left-filter-section .filters {
    border-top: 1px solid #cecece;
}

.search-main .left-filter-section .filters .heading {
    margin: 20px 0;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
}

.search-main .left-filter-section .filters .heading span {
    font-size: 1.1rem;
    color: var(--secondry-text-color);
}

.search-main .left-filter-section .panel {
    border: none;
    display: none;
    color: black;
    overflow: hidden;
}

/* Filters Section Style */
.filter-content .sub-category{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
}
.filter-content .sub-category .img{
    height: 60px;
    width: 60px;
}
.filter-content .sub-category .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.filter-content .sub-category .name{
    font-size: 16px;
    margin-left: 15px;
}

.filter-content .brand{
    display: flex;
    margin-bottom: 10px;
}
.filter-content .brand .img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.filter-content .brand .img img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}
.filter-content .colors{
    display: flex;
    margin-bottom: 10px;
}
.filter-content .colors .color{
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-right: 10px;
}
.filter-content .colors .color.color1{
    background-color: red;
}
.filter-content .colors .color.color2{
    background-color: blue;
}
.filter-content .colors .color.color3{
    background-color: purple;
}
.filter-content .colors .color.color4{
    background-color: mediumaquamarine;
}

.filter-content .price-filter{
    margin-bottom: 10px;
}
.filter-content .price-filter .price{
    display: flex;
    justify-content: space-between;
}
.filter-content .price-filter .price .start-price,
.filter-content .price-filter .price .end-price{
    padding: 10px 0;
    font-size: 1.2rem;
}
.filter-content .price-filter .price span,
.filter-content .price-filter .price span{
    font-size: 1.2rem;
    padding: 10px 
}
.filter-content .price-range{
    margin-bottom: 20px;
}

/* Double range CSS */


@media screen and (max-width:1000px) {
    .left-filter-section {
        display: none;
    }
}

/* 
***************************
RIGHT SEARCH ITEM SECTION
***************************
*/
.search-main .right-search-section {
    height: 100%;
    width: 100%;
}

.right-search-top {
    width: 100%;
    padding-left: 30px;
}

.right-searching-inputs {
    display: flex;
}

.search-input-perant {
    width: 60%;
}

.search-input-perant input {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    color: #1c1c1dbb;
    font-size: 20px;
    height: 50px;
    outline: none;
    padding: 9px;
    border: 1px solid #a1a1a296;
}

.right-searching-catagories {
    margin-left: 20px;
    width: 40%
}

.right-searching-catagories select {
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    height: 50px;
    color: #1c1c1dbb;
    padding: 9px;
    outline: none;
    border: 1px solid rgba(70, 65, 65, 0.267);
    /* border: 1px solid #a1a1a296; */
}

.right-searching-checkbox {
    padding-top: 15px;
    font-size: 20px;
    color: black;
    padding-bottom: 20px;
}
.right-searching-checkbox p{
    display: flex;
    align-items: center;    
}
.right-searching-checkbox p:last-child{
    margin-top: 10px;  
}

.right-searching-checkbox input {
    margin-right: 10px;
}

.right-searching-checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.right-search-section .search-btn button {
    width: 100%;
    background-color: #0427A5;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #F5F5F5;
}

.right-searching-heading {
    padding-top: 10px;
}

.right-searching-heading h1 {
    font-size: 27px;
    padding-bottom: 10px;
    font-weight: bold;
}

.searching-show-option {
    /* border: 1px solid black; */
    border-top: 1px solid rgba(180, 177, 177, 0.648);
    border-bottom: 1px solid rgba(180, 177, 177, 0.648);
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 25px;
}

.searching-show-option .grid-list {
    display: flex;
}

.searching-show-option .grid-list i {
    padding-right: 10px;
}

.searching-show-option .grid-list p:last-child {
    color: #0037FF;
    padding-left: 20px;
}


/* Diuble Range Slider */
.wrapper{
  border-radius: 10px;
  padding: 20px 5px 40px;
}
.price-input{
  width: 100%;
  display: flex;
  margin: 0px 0 35px;
}
.price-input .field{
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator{
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress{
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #1735B8;
}
.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #1732B8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

@media screen and (max-width:1000px) {
    .search-main .right-search-section {
        height: 100%;
        width: 90vw;
        margin: auto;
    }

    .right-search-top {
        padding-left: 0;
    }
}

@media screen and (max-width:600px) {

    .right-searching-inputs {
        display: block;
    }

    .search-input-perant {
        width: 100%;
    }

    .right-searching-catagories {
        margin-left: 0px;
        margin-top: 6px;
        width: 100%;
    }
}



/* 
*************************
Search Item Container
*************************
*/
.items-container {
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* Search Item Card */
.items-container .category-card {
    position: relative;
    margin: 20px 0;
    border: 1px solid grey;
    border-radius: 10px;
    width: 95%;
    margin: 10px;
}

.items-container .category-card .img {
    width: 100%;
    height: 300px;
}

.items-container .category-card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.items-container .category-card .card-body .strip {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: var(--secondry-bg-color);
    color: var(--secondry-text-color);
}

.items-container .category-card .card-body .strip a {
    color: var(--secondry-text-color);
}

.items-container .category-card .card-data {
    background-color: #fff;
    padding: 30px 10px;
}

.items-container .category-card .card-data .description {
    display: none;
}

.items-container .category-card .card-data h1 {
    margin: 10px auto;
    font-size: 1.5rem;
}

.items-container .category-card .card-data strike {
    color: var(--secondry-text-color);
    font-size: 1rem;
}

.items-container .category-card .card-data .more {
    display: grid;
    grid-template-columns: 77% 23%;
    margin: 20px auto;
}

.items-container .category-card .card-data .more .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-container .category-card .card-data .more input {
    width: 55px;
    padding: 8px 4px;
    border-radius: 6px;
    border: 1px solid grey;
}

.items-container .category-card .card-data .more input:focus {
    outline: none;
}

.items-container .category-card .card-data .more button {
    padding: 8px 14px;
    border-radius: 6px;
    background-color: var(--primary-bg-color);
    border: unset;
    color: #fff;
}

.items-container .category-card .card-data .more i {
    margin: 0 5px;
    color: var(--secondry-text-color);
    font-size: 1.4rem;
}

.items-container .category-card .card-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: var(--secondry-bg-color);
    border-radius: 0 0 10px 10px;
    color: var(--secondry-text-color);
}

@media screen and (max-width:1000px) {
    .items-container {
        padding-left: 0;
    }
}

@media screen and (max-width:850px) {
    .items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:650px) {
    .items-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* ITEM SHOW IN LIST FORM */
.items-container-list {
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
}

.items-container-list .category-card {
    position: relative;
    margin: 20px;
    margin-top: 0;
    border-bottom: 1px solid rgba(180, 177, 177, 0.648);
    width: 100%;
}

.items-container-list .category-card {
    display: flex;
}

.items-container-list .category-card .card-body {
    width: 100%;
    padding: 20px;
}

.items-container-list .category-card .card-body .strip span,
.items-container-list .category-card .card-body .strip a {
    font-size: 1.2rem;
}

.items-container-list .category-card .card-body .card-data h1 {
    font-size: 1.8rem;
    margin: 10px 0;
}

.items-container-list .category-card .card-data .description {
    display: block;
    color: grey;
    line-height: 1.6;
}

.items-container-list .category-card .card-body .card-data div {
    font-size: 1.6rem;
    color: rgb(228, 77, 22);
    font-weight: 800;
    margin: 10px 0;
}

.items-container-list .category-card .card-body .card-data strike {
    color: rgb(76, 76, 76);
}

.items-container-list .category-card .img {
    height: 350px;
    width: 500px;
    border: 1px solid rgba(180, 177, 177, 0.648);
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-container-list .category-card .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.items-container-list .category-card .card-data .more input {
    width: 55px;
    padding: 10px 4px;
    border-radius: 6px;
    border: 1px solid grey;
}

.items-container-list .category-card .card-data .more input:focus {
    outline: none;
}

.items-container-list .category-card .card-data .more button {
    padding: 11px 14px;
    border-radius: 6px;
    background-color: var(--primary-bg-color);
    border: unset;
    color: #fff;
}

.items-container-list .category-card .card-data .more div {
    display: inline-block;
}

.items-container-list .category-card .card-data .more i {
    margin: 0 5px;
    color: var(--secondry-text-color);
    font-size: 1.4rem;
    border: 1px solid grey;
    padding: 7px;
    border-radius: 4px;
}

.items-container-list .category-card .card-footer {
    padding: 20px 0px;
    background-color: var(--secondry-bg-color);
    border-radius: 0 0 10px 10px;
    color: var(--secondry-text-color);
}

.items-container-list .category-card .card-footer span:last-child {
    margin-left: 10px;
}

@media screen and (max-width:1000px) {
    .items-container-list {
        padding-left: 0;
    }

    .items-container-list .category-card {
        margin: 0px;
    }
}

@media screen and (max-width:550px) {
    .items-container-list .category-card {
        flex-direction: column;
    }

    .items-container-list .category-card .img {
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .items-container-list .category-card .card-body {
        padding: 10px;
    }
}

@media screen and (max-width:399px) {
    .items-container-list .category-card .card-body {
        padding: 6px;
    }
}

@media screen and (max-width:370px) {
    .items-container-list .category-card .card-body {
        padding: 0;
    }
}